/* text color */
.text-primary-300 {
  color: $primary-300;
}
.text-primary-400 {
  color: $primary-400;
}
.text-primary-500 {
  color: $primary-500;
}

.text-neutral-white {
  color: $neutral-white;
}
.text-neutral-500 {
  color: $neutral-500;
}
.text-neutral-600 {
  color: $neutral-600;
}

.text-danger-300 {
  color: $danger-300;
}

/* text align */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

@include mobile() {
  .text-sm-left {
    text-align: left;
  }
}

/* font size */
.fs-14 {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.fs-16 {
  font-size: 16px;
  letter-spacing: 0.05em;
}

.fs-20 {
  font-size: 20px;
  letter-spacing: 0.05em;
}

.fs-24 {
  font-size: 24px;
  letter-spacing: 0.05em;
}

@include desktop() {
  .fs-lg-16 {
    font-size: 16px;
    letter-spacing: 0.05em;
  }
}

@include mobile() {
  .fs-sm-14 {
    font-size: 14px;
    letter-spacing: 0.05em;
  }
  .fs-sm-20 {
    font-size: 20px;
    letter-spacing: 0.05em;
  }
}

/* font weight */
.fw-500 {
  font-weight: 500;
}
