/* heading */
.display-1,
.display-2,
.display-lg-1,
.display-lg-2,
.display-sm-1,
.display-sm-2,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h-lg-1,
.h-lg-2,
.h-lg-3,
.h-lg-4,
.h-lg-5,
.h-lg-6,
.h-sm-1,
.h-sm-2,
.h-sm-3,
.h-sm-4,
.h-sm-5,
.h-sm-6 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.display-1 {
  font-size: 64px;
}
.display-2 {
  font-size: 48px;
}
.h1 {
  font-size: 40px;
}
.h2 {
  font-size: 32px;
}
.h3 {
  font-size: 28px;
}
.h4 {
  font-size: 24px;
}
.h5 {
  font-size: 20px;
}
.h6 {
  font-size: 16px;
}

@include desktop() {
  .display-lg-1 {
    font-size: 64px;
  }
  .display-lg-2 {
    font-size: 48px;
  }
  .h-lg-1 {
    font-size: 40px;
  }
  .h-lg-2 {
    font-size: 32px;
  }
  .h-lg-3 {
    font-size: 28px;
  }
  .h-lg-4 {
    font-size: 24px;
  }
  .h-lg-5 {
    font-size: 20px;
  }
  .h-lg-6 {
    font-size: 16px;
  }
}

@include mobile() {
  .display-sm-1 {
    font-size: 64px;
  }
  .display-sm-2 {
    font-size: 48px;
  }
  .h-sm-1 {
    font-size: 40px;
  }
  .h-sm-2 {
    font-size: 32px;
  }
  .h-sm-3 {
    font-size: 28px;
  }
  .h-sm-4 {
    font-size: 24px;
  }
  .h-sm-5 {
    font-size: 20px;
  }
  .h-sm-6 {
    font-size: 16px;
  }
}

/* padding */
.p-24 {
  padding: 24px;
}
.p-32 {
  padding: 32px;
}

@include mobile() {
  .p-sm-24 {
    padding: 24px;
  }
}

/* padding-y */
.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

@include mobile() {
  .py-sm-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .py-sm-6 {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .py-sm-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .py-sm-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .py-sm-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .py-sm-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .py-sm-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .py-sm-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* padding-x */
@include mobile() {
  .px-sm-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* padding-top */
.pt-32 {
  padding-top: 32px;
}

/* padding-bottom */
.pb-4 {
  padding-bottom: 4px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-48 {
  padding-bottom: 48px;
}

@include mobile() {
  .pb-sm-32 {
    padding-bottom: 32px;
  }
}

/* margin-x */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* margin-right */
.me-8 {
  margin-right: 8px;
}
.me-24 {
  margin-right: 24px;
}
.me-40 {
  margin-right: 40px;
}
.me-48 {
  margin-right: 48px;
}

@include mobile() {
  .me-sm-0 {
    margin-right: 0;
  }
  .me-sm-16 {
    margin-right: 16px;
  }
}

/* margin-bottom */
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}

@include desktop() {
  .mb-lg-4 {
    margin-bottom: 4px;
  }
  .mb-lg-8 {
    margin-bottom: 8px;
  }
  .mb-lg-12 {
    margin-bottom: 12px;
  }
  .mb-lg-16 {
    margin-bottom: 16px;
  }
  .mb-lg-24 {
    margin-bottom: 24px;
  }
  .mb-lg-32 {
    margin-bottom: 32px;
  }
  .mb-lg-40 {
    margin-bottom: 40px;
  }
  .mb-lg-48 {
    margin-bottom: 48px;
  }
}

@include mobile() {
  .mb-sm-4 {
    margin-bottom: 4px;
  }
  .mb-sm-8 {
    margin-bottom: 8px;
  }
  .mb-sm-12 {
    margin-bottom: 12px;
  }
  .mb-sm-16 {
    margin-bottom: 16px;
  }
  .mb-sm-24 {
    margin-bottom: 24px;
  }
  .mb-sm-32 {
    margin-bottom: 32px;
  }
  .mb-sm-40 {
    margin-bottom: 40px;
  }
  .mb-sm-48 {
    margin-bottom: 48px;
  }
}

/* border */
.line-bottom {
  border-bottom: 1px solid $neutral-300;
}

/* radius */
.radius-4 {
  border-radius: 4px;
}
.radius-12 {
  border-radius: 12px;
}
.radius-circle {
  border-radius: 50%;
}

/* flex */
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.g-8 {
  gap: 8px;
}
.flex-1 {
  flex: 1;
}

@include mobile() {
  .flex-sm-column {
    flex-direction: column;
  }
  .g-sm-16 {
    gap: 16px;
  }
}

/* display */
.d-none {
  display: none;
}
.d-block {
  display: block;
}

@include mobile() {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-contents {
    display: contents;
  }
}

/* overflow */
@include mobile() {
  .overflow-x-sm-auto {
    overflow-x: auto;
  }
}
