<!-- footer -->
<footer class="py-64 py-sm-32">
  <div class="container">
    <nav
      class="nav mb-32 pb-24 line-bottom d-flex d-sm-block justify-content-between align-items-center"
    >
      <a href="./index.html" class="mb-sm-8">
        <img src="../assets/images/logo.svg" alt="logo" />
      </a>
      <ul class="nav-list d-flex d-sm-block px-sm-12">
        <li class="nav-item mb-sm-4">
          <a
            href="./products.html"
            class="nav-link link link-neutral me-40 me-sm-0"
            >商品列表</a
          >
        </li>
        <li class="nav-item">
          <a href="./story.html" class="nav-link link link-neutral">品牌故事</a>
        </li>
      </ul>
    </nav>
    <div class="text-center text-neutral-600 fs-14">
      <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>
</footer>
