.tab {
  &-list {
    display: flex;
    text-align: center;
  }
  &-item {
    flex: 1;
  }

  &-link {
    padding: 12px 16px;
    color: $neutral-600;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    border-bottom: 2px solid $neutral-300;
  }

  &-link:hover,
  &-item.active .tab-link {
    color: $neutral-900;
    border-bottom-color: $neutral-900;
  }

  &-item.active .tab-link {
    pointer-events: none;
  }
}
