<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>鞋子電商 | 產品列表</title>
  </head>
  <body>
    <%- include('./layout/nav') -%>

    <!-- main -->
    <main class="py-32 py-sm-16">
      <div class="container">
        <!-- breadcrumb -->
        <nav class="breadcrumb mb-24 mb-sm-12">
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="./index.html">首頁</a></li>
            <li class="breadcrumb-item"><a href="./products.html">女鞋</a></li>
            <li class="breadcrumb-item active"><a href="#">所有商品</a></li>
          </ol>
        </nav>
        <!-- title -->
        <h2 class="h3 h-sm-4 py-8 py-sm-10 mb-24 mb-sm-12">女鞋</h2>

        <div class="row mb-48 mb-sm-24">
          <!-- category -->
          <div class="col-2 d-sm-none">
            <nav>
              <ul class="category-list">
                <li class="category-item active"><a href="#">所有商品</a></li>
                <li class="category-item"><a href="#">慢跑鞋</a></li>
                <li class="category-item"><a href="#">滑板鞋</a></li>
                <li class="category-item"><a href="#">厚底鞋</a></li>
                <li class="category-item"><a href="#">限定 / 聯名企劃</a></li>
              </ul>
            </nav>
          </div>
          <!-- products -->
          <div class="col-10 col-sm-4">
            <ul class="row mb-48 mb-sm-32">
              <li class="col-4 col-sm-2 mb-48 mb-sm-24">
                <a href="./product.html" class="card card-sm-sm">
                  <div class="card-img">
                    <img
                      src="../assets/images/products/product.png"
                      alt="product"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">PLATFORM 404</h4>
                    <p class="card-text">NT$2,600</p>
                  </div>
                </a>
              </li>
              <li class="col-4 col-sm-2 mb-48 mb-sm-24">
                <a href="./product.html" class="card card-sm-sm">
                  <div class="card-img">
                    <img
                      src="../assets/images/products/product-1.png"
                      alt="product-1"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">PLATFORM 404</h4>
                    <p class="card-text">NT$2,600</p>
                  </div>
                </a>
              </li>
              <li class="col-4 col-sm-2 mb-48 mb-sm-24">
                <a href="./product.html" class="card card-sm-sm">
                  <div class="card-img">
                    <img
                      src="../assets/images/products/product-2.png"
                      alt="product-2"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">VM001</h4>
                    <p class="card-text">NT$2,600</p>
                  </div>
                </a>
              </li>
              <li class="col-4 col-sm-2 mb-48 mb-sm-24">
                <a href="./product.html" class="card card-sm-sm">
                  <div class="card-img">
                    <img
                      src="../assets/images/products/product-3.png"
                      alt="product-3"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Melty Kiss</h4>
                    <p class="card-text">NT$4,000</p>
                  </div>
                </a>
              </li>
              <li class="col-4 col-sm-2 mb-48 mb-sm-24">
                <a href="./product.html" class="card card-sm-sm">
                  <div class="card-img">
                    <img
                      src="../assets/images/products/product-4.png"
                      alt="product-4"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">BOOMBLOK</h4>
                    <p class="card-text">NT$3,200</p>
                  </div>
                </a>
              </li>
              <li class="col-4 col-sm-2 mb-48 mb-sm-24">
                <a href="./product.html" class="card card-sm-sm">
                  <div class="card-img">
                    <img
                      src="../assets/images/products/product-5.png"
                      alt="product-5"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">BOOMBLOK</h4>
                    <p class="card-text">NT$3,200</p>
                  </div>
                </a>
              </li>
              <li class="col-4 col-sm-2 mb-sm-24">
                <a href="./product.html" class="card card-sm-sm">
                  <div class="card-img">
                    <img
                      src="../assets/images/products/product-6.png"
                      alt="product-6"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">R:UNER</h4>
                    <p class="card-text">NT$4,000</p>
                  </div>
                </a>
              </li>
              <li class="col-4 col-sm-2 mb-sm-24">
                <a href="./product.html" class="card card-sm-sm">
                  <div class="card-img">
                    <img
                      src="../assets/images/products/product-7.png"
                      alt="product-7"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Sugar Snap</h4>
                    <p class="card-text">NT$4,000</p>
                  </div>
                </a>
              </li>
              <li class="col-4 col-sm-2">
                <a href="./product.html" class="card card-sm-sm">
                  <div class="card-img">
                    <img
                      src="../assets/images/products/product-8.png"
                      alt="product-8"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Neofoam</h4>
                    <p class="card-text">NT$4,000</p>
                  </div>
                </a>
              </li>
              <li class="col-4 col-sm-2 d-none d-sm-block">
                <a href="./product.html" class="card card-sm-sm">
                  <div class="card-img">
                    <img
                      src="../assets/images/products/product-9.png"
                      alt="product-9"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Buttermood</h4>
                    <p class="card-text">NT$4,000</p>
                  </div>
                </a>
              </li>
            </ul>

            <!-- pagination -->
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item page-item-prev disabled">
                  <a class="page-link page-link-icon" href="#">
                    <i class="bi bi-chevron-left"></i>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item page-item-dots">...</li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item page-item-next">
                  <a class="page-link page-link-icon" href="#">
                    <i class="bi bi-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/banner') -%> <%- include('./layout/footer') -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
